/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background: #1e293b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f8fafc;
}

.container {
    background: #334155;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f8fafc;
}

.output-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#passwordOutput {
    flex: 1;
    padding: 10px;
    border: 1px solid #94a3b8;
    border-radius: 5px;
    font-size: 16px;
    background: #1e293b;
    color: #f8fafc;
}

#copyButton {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: #f6513b;
    color: #f8fafc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#copyButton:hover {
    background-color: #e12a12;
}

.options {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #f8fafc;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #94a3b8;
    border-radius: 5px;
    background: #1e293b;
    color: #f8fafc;
}

#generateButton {
    padding: 10px 20px;
    border: none;
    background-color: #10b981;
    color: #f8fafc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#generateButton:hover {
    background-color: #059669;
}


